body {
    background-color: lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-v{
    position: absolute;
    margin: 5%;
    padding: 1%;
    background-color: rgb(181, 240, 240);
    border-radius: 3%;
    height: 250px;
    width: 400px;
    max-width: 600px;

}
.card-v label {
    font-size: 0.8em;
}

.image {
    background-image: url('../image/moon_flag.png'); 
    background-repeat: no-repeat;
    background-size: 40%; 
    background-position-y: 150px;
    background-position-x: 315px;
}

.title{
    font-weight: bold;
    color: white;
    text-align: center;
    padding-left: 40px;
    font-size: 1.2em;
}
.line3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 5px;
    gap: 10px;
}

.line3 label {
    display: block;
    margin-top: 5px;
}
.line3 .ex-month,
.line3 .ex-year,
.line3 .cvv {
    width: 5.5em;
    height: 20px;
}
.card-v div {
    padding-bottom: 5px;
}

.card-v input {
    width: 19em;
    height: 20px;
    margin-top: 5px;
}

.box2 {
    box-sizing: content-box;
    width: 100%;
    background-color: orange;
    height: 20px;
    padding: 10px;
    margin-left: -50px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.input-field {
    border: none;
    border-bottom: 1px solid #000;
}



.input-default {
    border: 1px solid #a5a1a1;
    padding: 5px;
    border-radius: 2px;
}


.input-valid {
    border: 1px solid #4CAF50; 
    padding: 5px;
    border-radius: 2px;
    background-image: url('../image/valid.png');
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: calc(100% - 3px) center;
}
.input-valid::placeholder {
    color: #4CAF50; 
}


.input-invalid {
    border: 1px solid #FF5733;
    padding: 5px;
    border-radius: 2px;
    background-image: url('../image/invalid.png');
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: calc(100% - 3px) center;
}
.input-invalid::placeholder {
    color: #FF5733; 
}

.button-normal {
    background-color: #3498db; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


.button-normal:hover {
    background-color: #2980b9; 
}


.button-disabled {
    background-color: #ccc; 
    color: #666; 
    padding: 10px 20px;
    border: none;
    cursor: not-allowed;
}


.button-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #3498db; 
    color: #fff; 
    border: none;
    cursor: pointer;
}


.button-circle:hover {
    background-color: #2980b9; 
}


.textarea-default {
    border: 1px solid #ccc;
    padding: 5px;
}
.toggle-checkbox {
    position: relative;
    border: 1px solid green;
    display: inline-block;
    width: 40px; 
    height: 15px; 
    background-color: white; 
    border-radius: 5px; 
    transition: border-color 0.2s;
}
.toggle-checkbox input[type="checkbox"] {
    display: none;
}
.slider {
    position: absolute;
    top: 1px; 
    left: 21px; 
    width: 15px; 
    height: 12px; 
    background-color: red; 
    border-radius: 5%;
    transition: 0.2s; 
}
.toggle-checkbox input[type="checkbox"]:checked + .slider{
    left: 3px; 
    background-color: green; 
    border-color: green;
}

.form_radio {
    margin-bottom: 10px;
}
.form_radio input[type="radio"] {
    display: none; 
}

.form_radio input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    
}

.form_radio input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    width: 15px; 
    height: 15px; 
    border: 1px solid green;
    border-radius: 50%; 
}

.form_radio input[type="radio"]:checked + label:before {
    background-color: green; 
}

.button-1 {
    background-color: rgb(75, 214, 75);
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 100px;
    color: white;
    cursor: pointer;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #09643e;
  }
  
  .button-2 {
    background-color: rgb(224, 123, 123);
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 100px;
    color: white;
    cursor: pointer;
  }
  
  .button-2:hover,
  .button-2:focus {
    background-color: #a70a46;
  }
  .button-2:disabled{
      background-color: rgb(161, 161, 161);
      cursor:no-drop;
  }
  .button-3 {
    background-color: rgb(75, 214, 75);
    border-radius: 50%;
    border-style: none;
    height: 35px;
    width: 35px;
    color: white;
    cursor: pointer;
  }
  .button-4 {
    background-color: rgb(136, 21, 69);
    border-radius: 50%;
    border-style: none;
    height: 35px;
    width: 35px;
    color: white;
    cursor: pointer;
  }
  .area-task_2 {
      width: 400px;
      height: 200px; 
  }

  .butt{
    display: flex; /* Используем flex-контейнер */
    justify-content: flex-end;
}
.pt-5{
    padding-top: 50px;
}
.pb-1 {
    padding-bottom: 10px;
}
.registration-form {
    margin:  0 auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    background-color: rgb(235, 228, 228);
}
.form-section {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 10px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.input-bottom-border {
    border: none;
    border-bottom: 1px solid #928d8d;
    width: calc(100% - 30px);
    padding: 5px;
    font-size: 16px;
    background-color: rgb(235, 228, 228);
}
.form-group input[type="radio"] {
    margin-right: 10px;
}
button {
    background-color: #538662;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #13a177;
}

.form-group {
    display: flex; /* Используем flex-контейнер */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.form-group img {
    width: 30px; /* Размер изображения */
    margin-right: 10px; /* Отступ между изображением и input */
}